---
import "../styles/global.css";
---

<!doctype html>
<html lang="en" data-theme="dracula" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class="h-full">
    <div class="h-full flex flex-col min-h-0">
      <div class="navbar bg-base-300 border-b border-violet-500 px-6">
        <div class="flex-1">
          <a href="/" class="btn btn-ghost normal-case text-xl text-violet-400"
            >SVG Maker</a
          >
        </div>
        <div class="flex gap-2">
          <a href="/generator" class="btn btn-sm btn-primary">Générateur</a>
          <a href="/favoris" class="btn btn-sm btn-secondary">Favoris</a>
        </div>
      </div>

      <div class="flex-1 min-h-0">
        <slot />
      </div>
    </div>
  </body>
</html>
